{{ define "content/article.html" }}
<!doctype html>
<html>
  <head>
    <title> article</title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

  <script>

      CONTENT_ID = "{{ .article_code }}"

  </script>
  <body>
    <div id="article-reader">

    </div>


    <script src="/public/js/content/article.js"> </script>
  </body>
</html>
{{ end }}