{{ define "content/article.html" }}
<!doctype html>
<html class="tui-bg-blue-black">
  <head>
    <title> article</title>
  </head>

  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <link rel="stylesheet" href="/public/vendor/TuiCss/dist/tuicss.min.css"/>
  <script src="/public/vendor/TuiCss/dist/tuicss.min.js"></script>
  <script>

      CONTENT_ID = "{{ .article_code }}"

  </script>
  <body>
    <nav class="tui-nav">
      <ul>
          <li class="tui-dropdown">
              <span class="red-168-text">M</span>enu
              <div class="tui-dropdown-content">
                    <ul>
                      <li><a href="/"> <span class="red-168-text">H</span>ome </a></li>
                    </ul>
                  </ul>
              </div>
          </li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">contents</div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="tui-window tui-scroll-white">
            <fieldset class="tui-fieldset tui-border-double">
              <div id="article-reader">
      
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="tui-overlap">
      <div id="modal" class="tui-modal">
        <div class="tui-window red-168">
            <fieldset class="tui-fieldset">
                <legend class="red-255 yellow-255-text">README</legend>
                  <pre>
      Nothing to read, :)
                  </pre>
                <button class="tui-button tui-modal-close-button right" data-modal="modal">close</button>
            </fieldset>
        </div>
      </div>
    </div>
    <div class="tui-statusbar">
      <ul>
        <li><a class="tui-modal-button" data-modal="modal"><span class="red-168-text" data-modal="modal">Click </span>README</a></li>
      </ul>
    </div>
    <script src="/public/js/content/article.js"> </script>
  </body>
</html>
{{ end }}