{{ define "room/index.html" }}
<!DOCTYPE html>
<html class="tui-bg-blue-black">
  <head>

    <meta charset="utf-8">
    <title> room </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">
    <link rel="stylesheet" href="/public/vendor/TuiCss/dist/tuicss.min.css"/>
    <script src="/public/vendor/TuiCss/dist/tuicss.min.js"></script>
    <script>

      ROOM_INFO = JSON.parse("{{ .room_code }}")

    </script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">room</div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="tui-window tui-scroll-white">
            <fieldset class="tui-fieldset tui-border-double">
              <legend>Video</legend>
              <h3> Local Video </h3>
              <fieldset class="tui-fieldset tui-border-dotted">
                <video id="localVideo" width="160" height="120" autoplay muted></video> <br />
              </fieldset>
              <h3> Remote Video </h3>
              <fieldset class="tui-fieldset tui-border-dotted">
                <div id="remoteVideos"></div> <br>  
              </fieldset>    
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="tui-overlap">
      <div id="modal" class="tui-modal">
          <div class="tui-window tui-scroll-white">
            <fieldset class="tui-fieldset tui-border-double">
              <legend class="red-255 yellow-255-text">Chat</legend>
              <textarea class="tui-input purple-255" id="chat-sender"></textarea>
              <br>
              <input class="tui-button" type="button" value="send" onclick="sendChat()">
              <p>Thread</p>
              <fieldset class="tui-fieldset tui-border-dotted">
                <pre id="chat-reader"></pre>
              </fieldset>
              <button class="tui-button tui-modal-close-button right" data-modal="modal">close</button>
            </fieldset>
          </div>
      </div>
    </div>
    <div class="tui-statusbar">
        <ul>
            <li><a class="tui-modal-button" data-modal="modal"><span class="red-168-text" data-modal="modal">Click </span>Chat</a></li>
        </ul>
    </div>


  </body>

  <script src="/public/js/room/index.js"></script>
</html>
{{ end }}