{{ define "room/index.html" }}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title> room </title>

    <script>

      ROOM_INFO = JSON.parse("{{ .room_code }}")

    </script>

  </head>
  <body>
    <h3> Local Video </h3>
    <video id="localVideo" width="160" height="120" autoplay muted></video> <br />

    <h3> Remote Video </h3>
    <div id="remoteVideos"></div> <br />

    <h3> Chat </h3>

    <textarea id="chat-sender"></textarea>
    <br>

    <input type="button" value="send" onclick="sendChat()">
  
    <p>Thread</p>

    <pre id="chat-reader"></pre>


  </body>

  <script src="/public/js/room/index.js"></script>
</html>
{{ end }}