{{ define "room/index.html" }}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title> room </title>

    <script>

      ROOM_INFO = "{{ .room_code }}"

    </script>

  </head>
  <body>
    <h3> Local Video </h3>
    <video id="localVideo" width="160" height="120" autoplay muted></video> <br />

    <h3> Remote Video </h3>
    <div id="remoteVideos"></div> <br />

    <h3> Logs </h3>
    <div id="logs"></div>


    <button onclick="initPeers()">Join</button>


  </body>

  <script src="/public/js/room/index.js"></script>
</html>
{{ end }}