{{ define "index/index.html" }}
<!doctype html>
<html class="tui-bg-blue-black">
  <head>
    <title> feebdaed.xyz </title>
    <link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">
    <link rel="stylesheet" href="/public/vendor/TuiCss/dist/tuicss.min.css"/>
    <script src="/public/vendor/TuiCss/dist/tuicss.min.js"></script>
  </head>
  <body>


      <div class="tui-window tui-scroll-white">

        <fieldset class="tui-fieldset tui-border-double">

          <h1> feebdaed.xyz </h1>
          {{ if .logged_in }}
          <a class="tui-button" href="/api/auth/signout"> Sign Out </a>
          <br>
          <br>
          <a class="tui-button" href="/mypage"> My Page </a>
          {{ else }}
          <a class="tui-button" href="/signin"> Sign in </a>
          {{ end }}

          <br>
          <br>

          <input class="tui-button" type="button" value="README" onclick="toggleDisplayById('readme-reader')">
          <div id="readme-reader" style="display: none;"> 
            <fieldset class="tui-fieldset tui-border-dotted">
              <pre> 
                This website is part of a broader project named <a class="tui-button" href="https://github.com/seantywork/sorrylinus"> "sorrylinus" </a>

                You can also check some more out from my <a class="tui-button" href="https://github.com/seantywork"> GitHub </a> 

                I've been uploading to <a class="tui-button" href="https://medium.com/@seantywork"> Medium.com </a>
                but I intend to direct my contents here onward.
              </pre>
            </fieldset>

            <fieldset class="tui-fieldset tui-border-dotted">
              <pre>
                Every content listed down there is freely accessible shareable.

                Except for video chat.
                
                To sign in and use video chat,
                Contact [ seantywork@gmail.com ] 

                If deemed fit, I will send you back: 

                  - temporary ID, password
                  - video chat room address

              </pre>
            </fieldset>
          </div>

        
          <h2> Contents </h2>

          <div id="content-reader"></div>

          <br>

          <h2> Video Chat </h2>

          <div id="room-reader"></div>

          <br>
        </fieldset>

      </div>


    <script src="/public/js/common.js"></script>
    <script src="/public/js/index/index.js"></script>
  </body>
</html>
{{ end }}