{{ define "mypage/index.html" }}
<html>
  <head>
    <title> mypage </title>
    <link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">
    <!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
  </head>

  <body>

    <h1> Sorrylinus </h1>

  
    <label for="soli-open-user-id">Soli ID</label>
    <input type="text" id="soli-open-user-id">
    <br>
    <label for="soli-open-user-pw">Soli PW</label>
    <input type="text" id="soli-open-user-pw">
    <br>
    <input type="button" onclick="openSoli()" value="open">

    <pre id="discovery-reader"></pre>

    <input type="button" onclick="sendDiscovery()" value="discover">

    <h3> Action </h3>
  
    <label for="soli-action-data">Query</label>
    <input type="text" id="soli-action-data">
    <br>
    <input type="button" onclick="sendSoliQuery()" value="send">

    <h3> Result </h3>

    <pre id="soli-action-result"></pre>


    <h3> CCTV </h3>

    <div id="cctv-reader"></div>

    <input type="button" onclick="initCCTV()" value="start cctv">
    <input type="button" onclick="closeCCTV()" value="close cctv">  

    <input type="button" onclick="testCCTV()" value="test cctv">


    <h1> Sorrylinus Again </h1>

    <h3> Article Edit </h3>

    <a href="/mypage/article">Edit</a>

    <h3> Video Edit </h3>

    <a href="/mypage/video">Edit</a>

    <h3> Room Edit </h3>

    <a href="/mypage/room">Edit</a>

    <h3> Users </h3>

    <label for="create-user-id">User ID</label>
    <input type="text" id="create-user-id">
    <br>
    <label for="create-user-pw">User PW</label>
    <input type="text" id="create-user-pw">
    <br>
    <label for="create-user-duratioin">User Duration</label>
    <input type="text" id="create-user-duration">
    <br>
    <input type="button" onclick="createUser()" value="create">
    <br>
    <div id="user-reader"></div>

    <br>
    <h3> Log </h3>
    <input type="button" onclick="flushLog()" value="flush">
    <br>

  </body>

  <script src="/public/js/common.js"></script>
  <script src="/public/js/mypage/index.js"></script>


</html>
{{ end }}