{{ define "mypage/room.html" }}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>mypage room</title>
    <link rel="icon" type="image/x-icon" href="/public/image/favicon.ico">
    <!--<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->

  </head>
  <body>

    <label for="create-room-name">Room Name</label>
    <input type="text" id="create-room-name">
    <label for="create-room-users">Allowed Users</label>
    <input type="text" id="create-room-users">
    <input type="button" onclick="createRoom()" value="create">

    <div id="room-reader"></div>


    <script src="/public/js/mypage/room.js"></script>
  </body>

</html>
{{ end }}