
<html>

<head>


</head>

<body>
<div></div>
<main>
    <center>
        <div></div>
        <div>
            <div>
                <form method="post" action="#">
                    <div>
                        <div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type='email' name='email' id='email'/>
                            <label for='email'>Enter your email</label>
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type='password' name='password' id='password'/>
                            <label for='password'>Enter your password</label>
                        </div>
                        <label>
                            <a href='#!'><b>Forgot Password?</b></a>
                        </label>
                    </div>

                    <br/>
                    <div>
                        <button type='submit' name='btn_login'>
                            Login
                        </button>
                    </div>
                </form>

                <div>
                    <div>
                        <a href="/api/oauth2/google/signin">
                            <div class="left">
                                <img width="30px" alt="Google &quot;G&quot; Logo"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            </div>
                            Login with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#!">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>

</body>

</html>